#app .leaflet-top.leaflet-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  background: none;
}

#app .leaflet-control-zoom {
  border: none;
}

#app .leaflet-control-zoom-in {
  width: 48px;
  height: 48px;
  margin-bottom: 7px;
  border-radius: 50%;
  background: rgba(230,230,230,0.85);
  border: none;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #999;
}

#app .leaflet-control-zoom-out {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(230, 230, 230, 0.85);
  border: none;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #999;
}
